__pycache__/
.DS_Store
.idea
.vscode/*
*.db
*.local
*.log
*.njsproj
*.ntvs*
*.pyc
*.sln
*.suo
*.sw?
data/
dist-ssr/
dist/
lerna-debug.log*
logs/
node_modules/
venv/

# Allow this
!.vscode/extensions.json
