html,
body {
  height: 100vh;
}

:root {
  /* Light mode default colors */
  --success-bg: #d4edda;
  --success-text: #155724;
  --warning-bg: #fff3cd;
  --warning-text: #664d03;
  --error-bg: #f8d7da;
  --error-text: #721c24;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --success-bg: #28a745;
    --success-text: #b4ed9a;
    --warning-bg: #ffa100;
    --warning-text: #ffe670;
    --error-bg: #dc3545;
    --error-text: #f8b7ba;
  }
}

#root {
  height: 100%;
  background: "green";
}
